body, html {
    height: 100%;
    margin: 0;
}

.tm-header{
    background: black;
    display: block;
    padding: 20px;
}

.tm-logo{
    align-content: center;
    display: block;
    margin: 0 auto;
    width: 20%;
}

.help-page{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/contact_back.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 70px;
    font-size: 55px;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 2px;
    text-align: center;
    color: #C0C0C0;
}

h2 h3{
    font-family: 'Solway', serif;
}

.back-navbar{
    width: 100%;
    height: 70px;
    background-color: black;
  }
  .back-navbar ul{
    width: auto;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
  }
  .back-navbar ul li {
    display: inline-block;
  }
  .back-navbar ul li a{
    color: #C0C0C0;
    font-family: 'Solway', serif;
  }